@import 'utility/mixins';
@import 'utility/variables';
@import 'partials/home';
@import 'partials/work';
@import 'partials/contact';
@import 'partials/about';

// Page animations
.page        {
    bottom:0;
    padding-top:0px;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;

}

@keyframes fadeIn {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fadeOut {
    from    { opacity: 1; }
    to      { opacity: 0; }
}

.ng-enter {
    animation: fadeIn 0.5s both ease-in;
    z-index: 888;
}

.ng-leave {
    animation: fadeOut 0.5s both ease-in;
    z-index: 998;
}

// Global Styles

body {
    margin: 0;
    display: inline;
}

// Navbar
.navbar {
    height: 100vh;
}
.navigation-logo {
    padding-top: 5em;
    padding-left: 3em;
        h1 {
            font-size: 2em;
            text-align: left;
            text-transform: uppercase;
    }
}
.photo-categories,.navigation-logo {
    a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        }
}
.photo-categories {
    padding-left: 2em;
    a {
        display: block;
        padding-top: 1em;
        line-height: 1.3em;
        font-weight: 400;
        font-size: 16px;

    }
    a:hover {
        color: grey;
    }
}

// Home Page Photos

.main-gallery {
    margin-top: 10vh;
    height: 90vh;
    img {
        display: inline;
        height: 40vh;
        width: auto;
        margin: none;
        padding: .5em;

    }


}








//.navigation-main {
//        padding-top: none;
//        a {
//            text-decoration: none;
//            list-style-type: none;
//            text-transform: uppercase;
//            color: grey;
//            display: block;
//            padding-bottom: 1em;
//        }
//}
//.navigation-main a:hover {
//    color: black;
//}


