@mixin centerer($position:absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin v-center($position:relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin h-center($position:relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin bottom($position:relative) {
    position: $position;
    top: 100%;
    transform: translateY(-105%);
}

@mixin inline($float:left) {
    display: inline-block;
    float: $float;
    position: relative;
}
