.home .Profile-Photo {
  height: 100vh;
  width: auto;
  display: block;
  margin: auto; }

.work {
  position: relative;
  width: 100%;
  height: 100vh; }
  .work .cd-svg-clipped-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.link-btn {
  padding: 5px;
  background-color: white;
  color: #aaaaaa; }

.link-btn:hover {
  color: black; }

.page-contact .contact-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  display: block;
  border: 5px black; }
.page-contact h1 {
  margin: 1em;
  color: #2A2A2C;
  text-align: center;
  text-transform: uppercase; }
.page-contact input, .page-contact textarea {
  width: 100%;
  margin: 2em 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2A2A2C;
  outline: none; }
.page-contact textarea {
  margin: 0;
  resize: none; }
.page-contact button {
  background-color: white;
  border: 1px solid #2A2A2C;
  color: #2A2A2C;
  width: 100%;
  height: 2em;
  margin-top: 1em;
  outline: none;
  cursor: pointer; }
.page-contact button:hover {
  background-color: #2A2A2C;
  color: white; }

.about .fill-nav {
  height: 4em;
  width: auto;
  background-color: none; }
.about .skills {
  background-color: none;
  height: 16em;
  width: auto;
  text-align: center;
  padding-top: 7em; }
.about .viewport-music {
  height: 100vh; }
.about .music .music-photo {
  height: auto;
  width: 450px;
  display: block;
  float: left;
  padding: 6em 2em 2em 2em; }
.about .music-text {
  height: 10em;
  width: 50em;
  background-color: none;
  float: left;
  padding-left: 4em;
  font-family: 'Fira Sans'; }
  .about .music-text h1 {
    font-size: 5.25em;
    font-weight: 470;
    padding-bottom: 7px;
    border-bottom: 1px solid #2A2A2C; }
  .about .music-text p {
    font-size: 1.5em;
    padding-top: 10px;
    font-weight: 300; }

.page {
  bottom: 0;
  padding-top: 0px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.ng-enter {
  animation: fadeIn 0.5s both ease-in;
  z-index: 888; }

.ng-leave {
  animation: fadeOut 0.5s both ease-in;
  z-index: 998; }

body {
  margin: 0;
  display: inline; }

.navbar {
  height: 100vh; }

.navigation-logo {
  padding-top: 5em;
  padding-left: 3em; }
  .navigation-logo h1 {
    font-size: 2em;
    text-align: left;
    text-transform: uppercase; }

.photo-categories a, .navigation-logo a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

.photo-categories {
  padding-left: 2em; }
  .photo-categories a {
    display: block;
    padding-top: 1em;
    line-height: 1.3em;
    font-weight: 400;
    font-size: 16px; }
  .photo-categories a:hover {
    color: grey; }

.main-gallery {
  margin-top: 10vh;
  height: 90vh; }
  .main-gallery img {
    display: inline;
    height: 40vh;
    width: auto;
    margin: none;
    padding: .5em; }
